[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=curve-test
Exec=curve-test
Name=curve-test
# translation example:
# your app name in German locale (de)
Name[de]=curve-test

